
.fondo{
    background-image: url("/img/fondo.png");
    width: 100%;
    height: 100%;
}



header .encabezado {
    margin:auto;
    font-size: 50px;
    color: #22bce0;
}

.contenedor {
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 500px;
    border: groove;
    
}

.contenedor .inicio{    
    display: flex;
    width: 400px;
    height: 500px;
    
    
}

.contenedor .imagen {
    display: flex;
    width: 400px;
    height: 500px;
    background-color: green;
}

.contenedor .imagen .silla {
    width: 400px;
    height: 500px;    
}

.inicio form{
    margin-left: 15px ;
}

.inicio h1{
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
}

.inicio p{
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;    
}

#nombre{
    display: block;
    width: 295px;
    height: 30px;
    padding: 5px 10px;
    background:none;
    background-image: none;
    border: 1px solid;    
    transition: all 0.5s ease;
    border-radius: 5px;    
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;    
}

#contrasena{
    display: block;
    width: 295px;
    height: 30px;
    padding: 5px 10px;
    background:none;
    background-image: none;
    border: 1px solid;    
    transition: all 0.5s ease;
    border-radius: 5px;    
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inicio form button{
    display: block;
    width: 100px;
    height: 35px;    
    cursor: pointer;
    background-color: #22bce0;
    font-size: 20px;    
    text-align: center;
    border: 0;
    transition: all 05s ease;
    margin: auto;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

.inicio form button:hover{
    background-color: #1ab188, 5%;
}


