*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divConFondo{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;    
}
  

header .encabezado {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 50px;
    color: blue;
    
}

.contenedor {
    display: flex;
    margin: auto;
    margin-top: 100px;
    width: 800px;
    height: 500px;
    border: groove;
    
}

.contenedor .inicio{    
    display: flex;
    width: 400px;
    height: 500px;
    
    
    
}

.contenedor .imagen {
    display: flex;
    width: 400px;
    height: 500px;
    background-color: green;
}

.contenedor .imagen .silla {
    width: 400px;
    height: 500px;    
}

.inicio{
    background: white;
}

.inicio form{
    margin-left: 15px ;
}

.inicio h1{    
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    margin-top: 20px;
}

.inicio p{    
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
    margin-top: 20px;
}

.inicio .notienes {
    margin-top: 120px;
}

#ID{
    display: block;
    width: 295px;
    height: 30px;
    padding: 5px 10px;
    background:none;
    background-image: none;
    border: 1px solid;    
    transition: all 0.5s ease;
    border-radius: 5px;    
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;    
}

#contrasena{
    display: block;
    width: 295px;
    height: 30px;
    padding: 5px 10px;
    background:none;
    background-image: none;
    border: 1px solid;    
    transition: all 0.5s ease;
    border-radius: 5px;    
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inicio form button{
    display: block;
    width: 100px;
    height: 35px;    
    cursor: pointer;
    background-color: #22bce0;
    font-size: 20px;    
    text-align: center;
    border: 0;
    transition: all 05s ease;
    margin: auto;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

.inicio form button:hover{
    background-color: #1ab188, 5%;    
    font-weight: bold;
}


/* ############ Register ############ */

main.register {
    width: 900px;
    height: 400px;
    position: absolute;    
    margin-top: 60px;
    margin-left: 184px;
    background:white;
    border: 1px solid #ccc;        
    
}
main.register header {
    padding-top: 19px;
    padding-left: 20px;
    padding-bottom: 13px;
}
main.register header h1 {    
    font-size: 24px;
    color: #625A5A;
    font-weight: 400;
}

main.register header #adve {    
    color: red;
}

.linea {
    border: 1px solid #C6C5C5;
}

#titulos{
    padding: 8px 12px;    
    margin: 2px 2px 2px 0px;
}

#datos-g{    
    display: flex;
}

#datos-g-tipo-id{    
    width: 300px;
}

#tipe-id{
    width: 280px;
}

#datos-g-n-id{    
    width: 300px;
}

#n-id{
    width: 280px;
}

#name{    
    width: 860px;
}

#tipo-id{
    width: 435px;
}

#id{
    width: 435px;
}

nav {
    position: absolute;
}

nav a {
    text-decoration: none;
    color: #7E7A7A;
}
/* Eliminar flechas de input type number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type=number] { -moz-appearance:textfield; }

footer{
    padding-top: 50px;
}

/* ####################################### */